server {
    listen      *:80 default;
    server_name myapp.com;
    access_log  /var/log/nginx/myapp.com.access.log;
    error_log   /var/log/nginx/myapp.com.error.log;
    rewrite_log on;
    root        /path/to/application/webroot;
    index       index.php index.html index.htm;
 
    # Pass the PHP scripts to FastCGI server
    # listening on 127.0.0.1:8080
    location / {
	proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header Host myapp.com;
        proxy_pass   http://127.0.0.1:8080;
    }

    location ~ \.$ {
	proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header Host myapp.com;
        proxy_pass   http://127.0.0.1:8080;
    }
}
